//- Display a collection of lists

div(ng-include='"components/navbar/navbar.html"')
.container

  .title-bar
    h1 {{ title }}

    button.btn.btn-default(ng-show="canCreate", ng-click="newList()") 
      span.fa.fa-plus
      | New List

  .row.order-by
    .form-group
      select.form-control(ng-model="order")
        option(value='popular') Popular
        option(value='recent') Recent

  list-of-lists(lists="lists")  

  //- br
  //- | {{ state }}
  //- br
  //- | {{ list | json }}
