//- Display a collection of lists

div(ng-include='"components/navbar/navbar.html"')
.container
  h1(ng-bind-html="trust(title)")

  .create_new(ng-show="canCreate")
    button.btn.btn-primary.fa.fa-plus(ng-click="newList()") &nbsp;New List

  div.gridStyle(ng-grid='gridOptions')

  //- br
  //- | {{ state }}
