//- Display a collection of lists

div(ng-include='"components/navbar/navbar.html"')
.container

  .title-bar
    h1(ng-bind-html="trust(title)")

    button.btn.btn-default(ng-show="canCreate", ng-click="newList()") 
      span.fa.fa-plus
      | New List

  .gridStyle(ng-grid='gridOptions')

  //- br
  //- | {{ state }}
