/server/config/local.env.js
.tmp/
.sass-cache/
.cache/
.idea/
.tags
*.sublime-workspace

# Used by pm2 ecosystem.json script
.deploys
current
source/

# https://www.npmjs.org/doc/misc/npm-faq.html
node_modules/

#client/bower_components/ # http://addyosmani.com/blog/checking-in-front-end-dependencies/
#dist/ # This is what's getting deployed
