/server/config/local.env.js
client/bower_components/
dist/
.tmp/
.sass-cache/
.idea/
.tags
*.sublime-workspace
#
# Used by pm2 ecosystem.json script
.deploys
current
source/
# node_modules/ # keep these for correct sync betwee dev and prod
