$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

body, h1, h2, h3, h4, h5, h6, div, p {
  font-family: "Noto Sans";
}

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'lists/edit/edit.scss';
@import 'lists/lists.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
// endinjector

.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 40em;
}

form {
  @extend .form-horizontal;

  .form-group {
    .checkbox label {
      font-weight: bold;
    }

    input.ng-invalid,
    input.ng-required,
    input.ng-mask,
    textarea.ng-invalid {
      border: thin solid red;
    }

    label {
      @extend .col-sm-2;
    }
    label + div,
    label + .form-control {
      @extend .col-sm-10;
    }
  }

  .checkbox,
  .form-group.buttons {
    @extend .col-sm-offset-2;
  }
}

/*.row.categories span.category {
  @extend .col-sm-1;

  button {
    @extend .btn-xs;
  }
}*/

.title-bar {
  position: relative;
  /*top: -20px;*/
  span {
    display: table-cell;
  }
}

.title-bar > button.btn,
.title-bar  > .buttons {
  position: absolute;
  top: 0;
  right: 0;

  span.fa {
    padding-right: 0.5em;
  }
}

.title-bar {
  margin-top: 0.5cm;
}

button + button {
  margin-left: 0.25cm;
}

button.btn {
  margin-top: 0.25cm;
}

.strike {
  text-decoration: line-through;
}

.alert-warn {
  background-color: orange;
}

.main-container .navbar{
  margin-bottom: 0;
  background-color: #00ACC2;
  border: none;
}

.main-container .navbar-default .navbar-brand {
  color: #fff;
}

.main-container .navbar-default .navbar-nav > li > a {
  color: #fff;
}

.footer {
background-color: #404040;
margin-top: 70px;
padding: 30px 0;
text-align: center;
color: #fff;
}

.main-lists-content .row.item {
  margin-bottom: 20px;
}

.main-lists-content .title a {
  font-size: 24px;
}

.main-content {
  max-width: 700px;
}

.navbar-nav {
  margin-top: 15px;
}

.navbar-brand {
  height: auto;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* inline-block space fix */
    margin-right:-4px;
}

.section {
  margin: 1em 0;
  padding: 1em 0;
  border-top: solid thin #ddd;
  border-bottom: solid thin #ddd;
}

.actions {
  a + a {
    margin-left: 1em;
  }
}

list-of-lists .categories {
  .category + .category {
    margin-left: 0.10cm;
  }
}
