$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'lists/edit/edit.scss';
@import 'lists/lists.scss';
@import 'main/main.scss';
@import 'modal/modal.scss';
// endinjector

.gridStyle {
    border: 1px solid rgb(212,212,212);
    height: 40em;
}

.form-group {
  label {
    @extend .col-sm-2;
  }
  div.input {
    @extend .col-sm-10;

    select {
      width: inherit;
    }
  }
  button {
    margin-right: 0.3cm;
  }
}

// Cannot be nested.
form p.help-block {
  @extend .col-sm-offset-2;
  @extend .col-sm-10;
}

input[type="checkbox"] {
  margin-right: 1em;
}

.row.categories span.category {
  @extend .col-xs-4;

  button {
    width: 100%;
  }
}
