div(ng-include='"components/navbar/navbar.html"')

.container-fluid
  .row.intro.text-center
    .intro-inner
      h1 Explore and Share all things Jackson
      span A list based approach

.container.main-content
  .row.categories
    h3 Explore Categories
    span.category.col-md-4.text-center
      button.btn.btn-primary(type="button", ui-sref="lists({ featured: true })") Featured
    span.category.col-md-4.text-center(ng-repeat="cat in categories")
      button.btn.btn-info(type="button", ui-sref="lists({ category: cat._id })", class="cat_{{ toSlug(cat.name) }}") {{ cat.name }}

  .title-bar
    h1 Lists from Jackson
    button.btn.btn-primary(ng-show="canCreate", ng-click="newList()") 
      span.fa.fa-plus &nbsp; New List

  .row.order-by
    .form-group
      select.form-control(ng-model="order")
        option(value='popular') Popular
        option(value='recent') Recent

  list-of-lists(lists="lists")

footer.footer
  .container
    p
      | Gabble
      = ' | '
      | copyright 2014
      = ' | '
      | About
