.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.order-by .form-group {
    @extend .col-xs-4;
}

.row.item.header {
    font-weight: bold;
}

.alert.fade {
    display: none;
    display: fixed;
    top:0;
    left: 0;
}

.alert.fade.in {
    display: inherit;
}

.intro {
    background-color: #00ACC2;
color: white;
min-height: 350px;
}

.intro-inner {
    padding: 100px 0;
}

.row.categories h3{
    margin-bottom: 20px;
    text-align: center;
}

.row.categories {
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
}

.row.categories span.category {
    margin: 20px 0;
}

.row .title a {
   font-size: 36px;
   color: #000;
   margin-bottom: 5px;
   display: block;
}

.row .author {    
    font-family: 'Lora', serif;
    font-style: italic;
    color: #808080;
    font-size: 18px;
}

ul.lists-main-content .list-group-item {
   border: none;   
   margin-bottom: 0;
   padding: 0;
}

.row .likq {
    margin: 10px 0;
}

.row .likq .likes{
   margin-left: 5px;
}

.title-bar h2 {
   padding: 0 15px;
}

.intro-header {
   background-image: url('assets/images/home-bg.jpg');
}