div(ng-include='"components/navbar/navbar.html"')
.container.edit-list
  .title-bar
    h1 Editing {{ list.title }}

    button.btn.btn-danger(ng-click="delete()") 
      span.fa.fa-minus &nbsp;Delete

  //- {{ list }}

  form(name='form', role='form', ng-submit='submit(form)', novalidate='')

    .form-group
      label(for='fieldTitle', control-label='') Title
      input#fieldTitle.form-control(type='text', name='name', ng-model='list.title', required='', placeholder='What is the title of this list?')

    .form-group
      label(for='fieldAbout', control-label='') About
      textarea#fieldAbout.form-control(type='text', name='about', ng-model='list.about', required='', placeholder='What is this list about?')

    .form-group
      label(for='fieldItems', control-label='') Items
      #fieldItems(as-sortable="dragControlListeners" name="items", ng-model="list.items")
        .input-group(ng-repeat="item in list.items track by $index" as-sortable-item='')
          .input-group-addon.fa.fa-bars.item-handle(as-sortable-item-handle='')
          input(type="text", ng-model="list.items[$index].val")
          .input-group-addon.fa.fa-minus(ng-click="removeItem($index)")

    .form-group
      label(control-label='')
      button.btn.btn-primary(type="button", ng-click="appendItem()")
        span.fa.fa-plus &nbsp;New Item
      //- {{ list.items }}

    .form-group
      label(for='fieldCategories', control-label='') Categories
      select.form-control#fieldCategories(multiple='', name="categories", ng-model='list.categories', ng-options='cat.name for cat in categories track by cat._id', required='')
      //- {{ list.categories }}

    .form-group(ng-show="isAdmin")
      .checkbox
        label(control-label='')
          input(type="checkbox", name="featured", ng-model='list.featured')
          | Featured
      
    //- br
    //- | {{ list }}

    p.help-block  {{ message }}

    .form-group.buttons
      button.btn.btn-sm.btn-warning(type="button" ng-click='reset(form)', ng-disabled="!isChanged(form)") Reset
      button.btn.btn-sm.btn-success(type='submit', ng-disabled="form.$invalid || !isChanged(form)") Save

    //- br
    //- | {{ list }}
