div(ng-include='"components/navbar/navbar.html"')
.container
  .title-bar
    h1 Editing {{ category.name }}
    //- button.btn.btn-warning(ng-click="delete()")
    //-   span.fa.fa-minus 
    //-   | Delete

  //- {{ category }}

  form(name='form', ng-submit='submit(form)', novalidate='')

    .form-group
      label(for='fieldName', control-label) Name
      input.form-control#fieldName(type='text', name='name', ng-model='category.name', required='', placeholder='What is the name of this category?')

    .form-group
      label(for='fieldAbout', control-label) About
      textarea.form-control#fieldAbout(type='text', name='about', ng-model='category.about', required='', placeholder='What is this category about?')

    p.help-block  {{ message }}

    .form-group.buttons
      button.btn.btn-inverse(ng-click='reset(form)', ng-disabled="!isChanged(form)") Reset
      button.btn.btn-primary(type='submit', ng-disabled="!isChanged(form) || form.$invalid") Save

    //- br
    //- | {{ form }}
    //- br
    //- | {{ category }}
