//- Display a single list

div(ng-include='"components/navbar/navbar.html"')

.container

  .title-bar
    h1(ng-class="{ strike: !list.active }") {{ list.title }}

    .buttons
      .goto-edit(ng-show='canEdit')
        button.btn.btn-primary(ng-click="edit()") 
          span.fa.fa-pencil &nbsp;Edit
      .goto-edit(ng-show='canDelete')
        button.btn.btn-danger(ng-click="delete()") 
          span.fa.fa-pencil &nbsp;Delete
      .goto-edit(ng-show='canBlock')
        button.btn.btn-warning(ng-class="{ active: !list.active }", ng-click="toggleActive()") 
          span.fa.fa-ban &nbsp;Block
  //- | {{ list }}

  .updatedAt
    | {{ list.updatedPretty }}

  .author
    //- mail-to(email="{{list.author.email}}", name="{{ list.author.name }}")
    a(ui-sref="lists({author: list.author._id})") {{ list.author.name }}
    
  ol.list
    li.item(ng-repeat="item in list.items") {{ item }}

  .like
    h2.likes Likes {{ votes.length }}
    button.btn.btn-primary(type="button", ng-click="vote(list)", ng-disabled="alreadyVoted")
      span.fa.fa-plus &nbsp;Like
    p(ng-show="alreadyVoted") You like this list!

    //- br
    //- | {{ user | json }}
    //- br
    //- | {{ votes | json }}
    //- br
    //- | alreadyVoted={{ alreadyVoted }}

  h2 Categories
  .row.categories
    button.btn.btn-primary(type="button", ui-sref="lists({ featured: true })", ng-show="list.featured") Featured
    span(ng-repeat="cat in list.categories")
      button.btn.btn-default(type="button" ui-sref="lists({category: cat._id})") {{ cat.name }}

