//- Display a single list

div(ng-include='"components/navbar/navbar.html"')

.container
  h1 {{ list.title }}

  .author
    //- mail-to(email="{{list.author.email}}", name="{{ list.author.name }}")
    a(ui-sref="lists({author: list.author._id})") {{ list.author.name }}

  .gotoEdit(ng-show='canEdit')
    a(ui-sref='list-edit({ id: list._id })') edit
    
  ul.list
    li.item(ng-repeat="item in list.items") {{ item }}

  h2 Categories
  .row
    p Categories will be clickable (to be implemented).
    span(ng-repeat="cat in list.categories")
      button.btn.btn-default(type="button" ui-sref="lists({category: cat._id})") {{ cat.name }}

