div(ng-include='"components/navbar/navbar.html"')
//- Display a single list

.container.main-content.lists-page
  .title-bar
    //- | {{ list }}

    .buttons
      button.btn.btn-default(ng-show='canEdit', ng-click="edit()") 
        i.fa.fa-pencil
        | &nbsp;Edit
      button.btn.btn-default(ng-show='canDelete', ng-click="delete()") 
        i.fa.fa-minus
        | &nbsp;Delete
      button.btn.btn-danger(ng-show='canBlock', ng-class="{ active: !list.active }", ng-click="toggleActive()") 
        i.fa.fa-ban
        | &nbsp;Block
      button.btn.btn-info(ng-show='canFeature', ng-class="{ active: list.featured }", ng-click="toggleFeatured()") 
        i.fa.fa-bookmark
        | &nbsp;Feature
    
    h1(ng-class="{ strike: !list.active }") {{ list.title }}

    .origin
      .author
        | Posted by 
        //- mail-to(email="{{list.author.email}}", name="{{ list.author.name }}")
        a(ui-sref="lists({author: list.author._id})") {{ list.author.name }}
        |  on 
        span.updatedAt {{ list.updatedPrettyDtonly }}
    
  ol.list
    li.item(ng-repeat="item in list.items") {{ item }}

  .row.text-center

    .like.col-xs-12
      button.btn.btn-success.btn-sm(type="button", ng-click="vote(list)", ng-disabled="alreadyVoted")
         i.fa.fa-heart
         | &nbsp;&nbsp;Like        
        
      p(ng-show="alreadyVoted") You like this list!
        
      span.likes {{ votes.length }}
      | &nbsp;Likes

    fb-share.col-xs-12.col-sm-6

    .complain.col-xs-12.col-sm-6(ng-show='!canEdit && !canDelete && !canBlock', title="Notify site admin of inappropriate content.")
      span.report(ng-click="complain()")
        i.fa.fa-exclamation-triangle
        | &nbsp;Report this content

    

    //- br
    //- | {{ user | json }}
    //- br
    //- | {{ votes | json }}
    //- br
    //- | alreadyVoted={{ alreadyVoted }}

  .row.categories.row-centered(ng-show="list.categories.length > 0")
    h2.categories Categories
    button.btn.btn-primary.col-sm-3.col-centered(type="button", ui-sref="lists({ featured: true })", ng-show="list.featured") Featured
    span.col-sm-3.col-centered(ng-repeat="cat in list.categories")
      button.btn.btn-info(type="button" ui-sref="lists({category: cat._id})") {{ cat.name }}
