div(ng-include='"components/navbar/navbar.html"')
.container
  ul.list-group
    li.list-group-item(ng-repeat='user in users track by $index | filter: { role: "!admin" } ')
      .row
        .col-sm-9
          .row
            strong {{user.name}}
          .row
            span.text-muted {{user.email}}
        .col-sm-2
          .checkbox
            label
              input(type="checkbox", ng-model="user.active", name="active[]")
              | Active
        .col-sm-1
          a.trash(ng-click='delete(user)')
            span.glyphicon.glyphicon-trash.pull-right
      //- br
      //- | {{ user | json }}
